{% extends 'base.html.twig' %}
{% block title %}{{ operation_name }}{% endblock %}
{% block body %}
<h1> {{ operation_name }}</h1>
{% for car in cars %}
{{ include('basic_car/index.html.twig') }}
{% endfor %}
{% endblock %}